.SettingsDialog {
  &__type-select {
    columns: 2;
    margin-top: 5px;

    .bp4-control {
      margin-top: 0;
    }
  }

  .bp4-label {
    font-weight: bold !important;
  }

  .bp4-form-group .bp4-form-helper-text {
    margin-top: 15px;
  }
}
