@import "src/variables.scss";

$swatch-width: 20px;

.ColorPicker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;

  &__item {
    width: $swatch-width;
    margin: auto;

    &__swatch {
      width: $swatch-width;
      height: $swatch-width;
      border-radius: 15px;
      cursor: pointer;
      transition: all .1s ease-in-out;

      &:hover {
        border-width: 3px !important;
      }
    }
  }
}
