@import "src/variables.scss";

.EntityList {
  background: $black-70 !important;
  overflow: hidden;
  padding: 5px 10px !important;

  &__category {
    margin: 15px 0;

    &__title {
      color: white !important;
      font-size: 14px;
      margin: 5px;
    }
    // &:not(:last-child) {
    //   border-bottom: 1px solid $black-50;
    // }
  }

  &__item {
    padding: 5px !important;
    fill: white !important;
    color: white !important;
    border-radius: 0 !important;

    &:hover {
      background: $black-50 !important;
    }
  }
}
