.EntityViewer {
  height: 100%;
  padding: 0;

  &__title {
    padding: 10px 0;
  }
  &__property-list {
  }
  &__property-list-item {
    padding: 5px 0 !important;

    &__label {
      font-size: 12px;
    }

    &__value {
      margin: 3px 0 !important;

      .bp3-input {
        border: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid #5c7080 !important;
        border-radius: 0 !important;
        padding: 0 !important;
      }
    }
  }
}
