@import "src/variables.scss";

.EntityViewer {
  height: 100%;
  padding: 0;
  color: white;

  &__title {
    text-align: center;
    padding: 25px 15px;

    &__icon {
      fill: white;
    }
    &__text {
      margin: 10px 0 0 !important;
      color: white !important;
    }
  }

  &__property-list {
  }

  &__property-list-item {
    padding: 10px !important;
    background-color: $black-70;
    border-radius: $standard-border-radius;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px !important;
    }

    &__label {
      font-size: 11px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      margin-bottom: 5px;
      cursor: text;
    }

    &__value {
      margin: 3px 0 !important;
      font-size: 14px;
      color: white !important;
      cursor: text;

      .bp3-input {
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid white !important;
        border-radius: 0 !important;
        padding: 0 !important;
      }

      .bp3-input-ghost {
        color: white !important;
      }

      .bp3-tag {
        background: white !important;
        color: $black-80 !important;
      }
    }
  }

  .bp3-divider {
    margin: 15px 0;
    border-color: white;
  }

  .bp3-button {
    color: white !important;
    border: 1px solid white;
    background: transparent !important;

    .bp3-icon {
      color: white;
    }
  }

}
