$table-editor-padding: 20px;
$border-color: rgba(16, 22, 26, 0.15);

.TableEditorTable {
  .data-grid-container .data-grid .cell {
    white-space: nowrap;
    height: 30px;
    vertical-align: middle;
    text-align: left;
    background-color: white;

    .value-viewer {
      padding: 0 10px;
    }
  }
  .bp3-form-group {
    margin: 0;
  }
}
