@import "src/variables.scss";

.TableEditorTable {
  .data-grid-container .data-grid .cell {
    white-space: nowrap;
    height: 30px;
    vertical-align: middle;
    text-align: left;
    background-color: $light-gray5;
    color: black;

    .value-viewer {
      .property, .header {
        padding: 0 10px;
      }
    }
  }
  .bp3-form-group {
    margin: 0;
  }
}
