@import "src/variables.scss";
@import "src/themes.scss";

.VertexRadiusPicker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;

  &__item {
    margin: auto;

    &__swatch {
      position: relative;
      border-radius: 15px;
      cursor: pointer;
      transition: all .1s ease-in-out;
      border: 1px solid;

      .theme-dark & {
        border-color: white !important;
      }

      &.active, &:hover {
        @include themify() {
          border-width: themed('colorPickerActiveBorderWidth');
        }
      }

      &:hover {
        @include themify() {
          opacity: themed('colorPickerHoverOpacity');
        }
      }

      &.active {
        pointer-events: none;
      }
    }
  }
}
