.VertexCreateDialog {
  &__input > .bp3-input {
    border-radius: 0 !important;
  }
  &__schema-select {
    white-space: nowrap;
  }
  &__popover {
    .bp3-popover-content {
      padding: 0 !important;
    }
    .bp3-menu {
      padding: 5px !important;
    }
  }
  &__spinner.bp3-spinner {
    margin: 10px !important;
  }
}
