@import "src/variables.scss";
@import "src/themes.scss";

.GroupingViewer {
  height: 100%;
  padding: 0;
  @include themify() {
    color: themed('textColor');
  }

  &__title {
    text-align: center;
    padding: 30px 15px 20px;

    &__text {
      margin-bottom: 30px;
      &__main {
        @include breakText;
        margin: 0 !important;
        font-size: 1.6em;
        @include themify() {
          color: themed('textColor') !important;
        }
      }
      &__secondary {
        margin-bottom: 3px !important;
        opacity: .8;

        @include themify() {
          color: themed('textColor') !important;
        }
      }
    }

    &__settings {
      margin-top: 20px;
    }
  }


  .bp3-divider {
    margin: 15px 0;
    @include themify() {
      border-color: themed('textColor');
    }
  }

  .bp3-button {
    color: white !important;
    border: 1px solid;
    background: transparent !important;
    box-shadow: none !important;
    transition: all .1s ease-in;
    @include themify() {
      color: themed('textColor') !important;
      border-color: themed('textColor');
    }

    &:hover {
      background: $white !important;
      color: $black-90 !important;

      .bp3-icon {
        color: $black-90;
      }
    }

    .bp3-icon {
      color: white;
    }
  }

}
