@import "src/variables.scss";
@import "src/themes.scss";

.Sidebar {
  padding: $sidebar-gutter;
  min-height: 100%;
  width: 100% !important;
  box-sizing: border-box;
  overflow-y: scroll;
  box-shadow: $editor-box-shadow;

  @include themify() {
    background-color: themed('sidebarColor');
    color: themed('textColor');
  }

  &__search-text {
    font-style: italic;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding-bottom: $sidebar-gutter;
  }
}
