@import "src/variables.scss";
@import "src/themes.scss";

.Sidebar {
  padding: $sidebar-gutter;
  min-height: 100%;
  @include themify() {
    background-color: themed('sidebarColor');
    color: themed('textColor');
  }
}
