@import "src/variables.scss";

$width-right: $sidebar-width;

.Toolbar {
  display: flex;
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    0 0 1px rgba(16, 22, 26, 0),
    0 1px 1px rgba(16, 22, 26, 0.4);

  .toolbar-top & {
    width: 100%;
    flex-direction: row;
  }

  .toolbar-left & {
    height: 100%;
    width: 70px;
    flex-direction: column;
  }

  &__logo-container, &__main, &__search-container {
    .toolbar-top & {
      vertical-align: middle;
      padding: 5px 10px;
    }

    .toolbar-left & {
      padding: 5px;
    }
  }

  &__logo-container {
    .toolbar-top & {
      border-right: 1px solid white;
    }

    .toolbar-left & {
      border-bottom: 1px solid white;
    }
  }

  &__main {
    flex: 2 1;
    overflow-x: hidden;
  }

  &__search-container {
    width: $width-right;
    max-width: $width-right;
    padding: 5px $sidebar-gutter;

    @include medium {
      width: auto;
      max-width: none;
    }

    .toolbar-left & {
      display: none;
    }
  }

  &__logo {
    display: table;

    .toolbar-left & {
      margin: 5px auto;
    }

    &__image, &__text {
      display: table-cell;
    }
    &__image {
      height: 30px;

    }
    &__text {
      font-size: 16px;
      color: white;
      margin: 0;
      vertical-align: middle;
      padding-left: 7px;
      white-space: nowrap;

      @include medium {
        display: none;
      }

      .toolbar-left & {
        display: none;
      }
    }
  }

  &__button-group-container {
    .toolbar-top & {
      flex-direction: row;
    }

    .toolbar-left & {
      flex-direction: column;
    }

    .bp3-menu {
      background-color: $black-70 !important;
    }
  }

  &__button-group {
    .toolbar-left & {
      flex-wrap: wrap;
    }
  }

  &__button-tip {
    .bp3-popover-content {
      background-color: $black-70 !important;
    }
    .bp3-popover-arrow path {
      fill: $black-70;
    }
  }

  .bp3-button {
    background: transparent !important;
    box-shadow: none !important;

    .bp3-icon {
      svg {
        fill: white !important;
      }
    }
    &.bp3-disabled {
      svg {
        fill: $disabled-color !important;
      }
    }
  }

  .bp3-divider {
    border-color: $disabled-color;
  }



}
