@import "src/variables.scss";

.VisGraph {
  flex: 1;
  display: flex;
  height: 100%;

  &.toolbar-top {
    flex-flow: column;
  }

  &.toolbar-left {
    flex-flow: row;
  }

  &__toolbar {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    z-index: 1;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    overflow: hidden;

    &__inner-container {
      flex-grow: 4;
      flex-shrink: 1;
      flex-basis: auto;
      position: relative;
      overflow: hidden;
    }
  }

  &__sidebar {
    max-height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    width: $sidebar-width;
    box-shadow: $editor-box-shadow;
  }

  &__table-container {
    z-index: 1;
  }

  &__button-group {
    position: absolute;
    bottom: 10px;

    .toolbar-top & {
      left: 10px;
    }

    .toolbar-left & {
      right: 10px;
    }
  }
}
