@import "src/variables.scss";

.VisGraph {
  flex: 1;
  display: flex;
  height: 100%;

  &.toolbar-top {
    flex-flow: column;
  }

  &.toolbar-left {
    flex-flow: row;
  }

  &__toolbar {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    z-index: 1;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    overflow: hidden;

    &.sidebar-open {
      flex-flow: row;
    }

    &.table-open {
      flex-flow: column;
    }
  }

  &__main {
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: auto;
    position: relative;
    overflow: hidden;
    display: flex;
  }

  &__sidebar {
    max-height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    width: $sidebar-width;
    box-shadow: $editor-box-shadow;
  }

  &__table {
    height: 50%;
    width: 100%;
    box-shadow: $editor-box-shadow;
  }


  &__button-group {
    position: absolute;
    bottom: 10px;
    z-index: 1;

    .toolbar-top & {
      left: 10px;
    }

    .toolbar-left & {
      right: 10px;
    }
  }
}
